<script>
export default {
  data() {
    return {
      labels: [
        {
          title: "UI polish",
          class: "info",
        },
        {
          title: "Beautifying our UI",
          class: "success",
        },
        {
          title: "UX Paper Cuts",
          class: "tier",
        },
      ],
    };
  },
  labels: [
    {
      title: "UI polish",
      class: "info",
    },
    {
      title: "Beautifying our UI",
      class: "success",
    },
    {
      title: "UX Paper Cuts",
      class: "tier",
    },
  ],
  methods: {
    labelClass(labelClass) {
      return `gl-badge badge-${labelClass} badge-pill gl-sm gl-mr-2`;
    },
  },
};
</script>

<template>
  <div class="gl-display-flex gl-flex-direction-column gl-align-items-center">
    <div
      class="gl-bg-white gl-p-7 gl-px-10 gl-mb-5 gl-max-w-80 gl-mt-8 gl-rounded-base"
    >
      <div class="gl-text-center gl-display-flex gl-align-items-center gl-mb-6">
        <img src="/logo.svg" width="50px" class="gl-mr-6" />
        <h2>GitLab <span class="gl-text-gray-10!">Papercuts</span></h2>
      </div>
      <p>
        All Merge Requests that have the label
        <span
          v-for="label in $options.labels"
          :key="label.title"
          :class="labelClass(label.class)"
        >
          {{ label.title }}
        </span>
        and before and after images in a table will show up here.
      </p>

      <small class="gl-text-muted gl-text-monospace">
        You're more than welcome to contribute:
        <a href="https://gitlab.com/nicolasdular/gitlab-polish-gallery"
          >gitlab-polish-gallery</a
        >
      </small>
      <hr class="my-4" />
      <slot />
    </div>
  </div>
</template>
