<script>
import { GlFormSelect, GlFormGroup } from "@gitlab/ui";

export default {
  components: { GlFormSelect, GlFormGroup },
  props: {
    milestones: Array,
    currentMilestone: String,
  },
  data() {
    return {
      options: this.milestones.map((milestone) => {
        return milestone.title;
      }),
    };
  },
  methods: {
    milestoneChanged(value) {
      this.$emit("milestoneChanged", value);
    },
  },
};
</script>

<template>
  <gl-form-group label="Milestone" label-for="milestone">
    <gl-form-select
      :disabled="false"
      :options="options"
      :value="currentMilestone"
      @change="milestoneChanged"
    />
  </gl-form-group>
</template>
