<script>
export default {
  props: { papercut: Object },
};
</script>
<template>
  <div
    class="col"
    data-label="<% for label, value in polish.labels %><%= label %><% end %>"
  >
    <div class="gl-card mb-4">
      <div class="gl-card-header">
        <p class="mb-0 align-items-center">
          <a :href="papercut.url" target="blank"> {{ papercut.title }}</a> by
          <a href="https://gitlab.com/" target="blank"
            ><img
              :src="papercut.avatarUrl"
              class="gl-avatar-s24 rounded-circle"
          /></a>
          <a href="https://gitlab.com/" target="blank"
            >@{{ papercut.username }}</a
          >
          <span
            v-for="label in papercut.labels"
            :key="label.title"
            class="gl-badge badge-<%= value %> badge-pill sm"
          >
            {{ label.title }}
          </span>
        </p>
      </div>

      <div class="gl-card-body d-flex justify-content-center">
        <table class="gl-table">
          <tr>
            <th>Before</th>
            <th>After</th>
          </tr>
          <tr v-for="image in papercut.images" :key="image.mergeRequestId">
            <td>
              <a :href="image.before" target="blank"
                ><img
                  loading="lazy"
                  :src="image.before"
                  class="img-fluid border rounded border-light p-1"
              /></a>
            </td>
            <td>
              <a :href="image.after" target="blank"
                ><img
                  loading="lazy"
                  :src="image.after"
                  class="img-fluid border rounded border-light p-1"
              /></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>
