<script>
import Heading from "./components/Heading.vue";
import PapercutsFilter from "./components/PapercutsFilter.vue";
import Papercut from "./components/Papercut.vue";

export default {
  components: { Heading, PapercutsFilter, Papercut },
  data() {
    return {
      milestones: [],
      currentMilestone: null,
      papercuts: [],
    };
  },
  mounted() {
    fetch("data/papercuts/milestones.json")
      .then((res) => res.json())
      .then((milestones) => {
        this.milestones = milestones;
        this.currentMilestone = milestones[0].title;
        this.fetchPapercuts();
      });
  },
  methods: {
    milestoneChanged(milestone) {
      this.currentMilestone = milestone;
      this.fetchPapercuts();
    },

    fetchPapercuts() {
      fetch(`data/papercuts/${this.currentMilestone}.json`)
        .then((res) => res.json())
        .then((papercuts) => (this.papercuts = papercuts));
    },
  },
};
</script>

<template>
  <div id="app">
    <Heading>
      <div v-if="milestones.length === 0 || currentMilestone === null">
        Loading ...
      </div>
      <div v-else>
        <PapercutsFilter
          :milestones="milestones"
          :currentMilestone="currentMilestone"
          @milestoneChanged="milestoneChanged"
        />
      </div>
    </Heading>

    <div
      v-for="papercut in papercuts"
      :key="papercut.mergeRequestId"
      style="width: 800px; margin: auto"
    >
      <Papercut :papercut="papercut" />
    </div>
  </div>
</template>
